@model BD_HOTELERIA.Models.Habitacion

@{
    ViewData["Title"] = "HabitacionEditar";
}

<h1>Habitacion Editar</h1>

<hr />
<form asp-action="HabitacionEditar" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdHabitacion" />
    <input type="hidden" asp-for="Eliminado" />
    <div class="form-group col-md-6">
        <label asp-for="NumeroHabitacion" class="control-label">Numero de Habitacion</label>
        <input asp-for="NumeroHabitacion" class="form-control" />
        <span asp-validation-for="NumeroHabitacion" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Piso" class="control-label">Piso</label>
        <input asp-for="Piso" class="form-control" />
        <span asp-validation-for="Piso" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Precio8Horas" class="control-label">Precio por 8 Horas</label>
        <input asp-for="Precio8Horas" class="form-control" />
        <span asp-validation-for="Precio8Horas" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="PrecioDia" class="control-label">Precio por 1 Dia</label>
        <input asp-for="PrecioDia" class="form-control" />
        <span asp-validation-for="PrecioDia" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class ="form-control" asp-items="ViewBag.ESTADOS"></select>
            </div> 
            <div class="form-group col-md-12">
                <label asp-for="IdTipoHabitacion" class="control-label">Tipo de Habitacion</label>
                <select asp-for="IdTipoHabitacion" class ="form-control" asp-items="ViewBag.TIPOHABITACIONES"></select>
            </div>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Descripcion" class="control-label">Descripcion</label>
        <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    
    <div class="form-group col-12">
        <div class="row">
            <div class="col-12 d-flex justify-content-between my-2">
                <a asp-action="HabitacionListado" class="btn btn-outline-secondary">Regresar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<br />
@if (! (ViewBag.MENSAJE == ""))
{ 
    <div class="alert alert-info">
    @ViewBag.MENSAJE
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
